/* background.css */
#VentanaPrincipal {
    -fx-background-image: url('fondoWeb.jpg');
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}
